.column {
  background-color: var(--gray-extra-light);
  box-shadow: 0px 2px 5px 0px hsla(227, 18%, 29%, 0.04);
  max-width: 352px;
  max-height: 530px;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  margin: var(--spacing-md) var(--spacing-lg);

  .columnTitle {
    display: flex;
    justify-content: space-between;

    h2 {
      font-family: Inter;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      color: var(--gray-dark);
    }

    .columnButtons {
      display: flex;
      gap: 15px;
      button {
        all: unset;
        color: var(--gray-dark);

        i {
          font-size: 13px;
        }
      }
    }
  }

  .taskList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
